*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.display-none{
    opacity: 0;
}

.comment-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.comment-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

/* Styling of comment class and its child elements */
.comment{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    padding: 1.5rem 1.5rem;
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
}

.comment-votes > button, .comment-btns > button{
    background: transparent;
    outline: none;
    border: none;
}

.comment-votes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
    border-radius: 6px;
    padding: 0.5rem 0.7rem;
    width: fit-content;
    height: fit-content;
}

.comment-votes > button{
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    font-weight: bold;
}

.comment-votes > button:hover{
    opacity: 0.5;
}

.comment-votes > button:active{
    opacity: 1;
}

.comment-score{
    font-size: 1.1rem;
    font-weight: bold;
    margin-block: 8px;
}

.comment-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("https://avatarfiles.alphacoders.com/341/341848.png");
    margin-right: 10px;
}

.username{
    margin-right: 15px;
    font-weight: bold;
}

.comment-posted-time{
    color:gray;
}

.comment-btns{
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.comment-btns > button{
    color: #119C62;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.comment-btns > button > p{
    display:inline !important;
}

.delete-btn{
    color: rgb(221, 21, 21) !important;
}

.comment-text-content{
    margin: 0;
    color:#6b6c76;
}

@media (min-width: 47em){

    .comment-section-container > .add-comment, .comment-container{
        max-width: 720px;
    }

    .comment{
        gap: 25px;
    }

    .comment-votes{
        flex-direction: column;
    }
}

@media (max-width: 47em){
    .comment{
        flex-direction: column-reverse;
        align-items: center;
    }

    .comment-header{
        flex-wrap: wrap;
        margin-left: 0;
        gap: 5px;
    }

    .plus-btn, .minus-btn{
        font-size: small;
    }

    .comment-score{
        font-size:medium;
    }

    .comment-votes{
        gap: 5px;
        padding: 5px 10px;
    }

    .add-comment{
        flex-wrap: wrap;
    }

    .add-comment > .comment-input{
        order: 1;
    }

    .add-comment > .profile-pic{
        align-self: flex-start;
        justify-content: start;
        order:2;
    }

    .add-comment > .reply-btns-div{
        flex-direction: row;
    }
}



/* Styling of add-comment class and its child elements */
.add-comment{
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 100%;
    gap: 20px;
}

.add-comment > .textareaInput{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.textareaInput > .profile-pic{
    display: block;
    min-height: 36px;
    min-width: 36px;
    margin-right: 10px;
}

.comment-input{
    width: 100%;
    border: 2px solid #eaecf1;
    border-radius: 10px;
    min-height: 100px;
    font-size: 1rem;
    padding: 15px;
    scrollbar-width: none;
    resize: none;
}

.comment-input:focus{
    outline: none;
    border: 2px solid #119C62;
}

.edit-comment-btn, .send-comment-btn, .send-reply-btn, .cancel-btn{
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    order: 3;
    text-align: center;
    transition: all 0.2s ease-in-out;
    border:2px solid #6b6c76;
    text-decoration: none !important;
    color: black !important;
}

.edit-comment-btn:hover, .send-comment-btn:hover, .send-reply-btn:hover{
    background-color: #119C62;
}

.send-comment-btn{
    align-self:flex-start;
}

.cancel-btn{
    border:2px solid #6b6c76;
    background-color: #c9c9c9;
}

.cancel-btn:hover{
    background-color: rgb(216, 10, 10);
}

.reply-btns-div{
    display:flex;
    order: 3;
    align-content: center;
    gap: 10px;
}

.edit-btns-div{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}


/* Styling of Reply Container */
@media (min-width: 47em){
    .reply-container{
        margin-left: 35px !important;
        padding-left: 35px !important;
        gap: 20px !important;
    }
}

.reply-container{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(131, 131, 131);
    height: 100%;
    margin-left: 15px;
    padding-left: 15px;
    gap: 10px;
}

.reply-container > .comment-container{
    width: 100%;
}

.add-comment, .comment{
    border: 2px solid grey !important;
    border-radius: 10px;
}